{{!-- <div >
        <div>
            <div>
                <div class="d-inline fw-bold">Température</div>
                <div class="d-inline">{{#if temp_C}}{{temp_C}}{{else}}{{tempC}}{{/if}}℃</div>
            </div>
            <div>
                <div class="d-inline">Ressentie</div>
                <div class="d-inline">{{FeelsLikeC}}℃</div>
            </div>
        </div>
        --}}
        <div class="card-content">
            <div class="card-content-row">

                <div class="card-content-group">
                    {{#> conditionExtraItem label="Précipitations" img="precip"}}
                        {{precipMM}} mm
                    {{/ conditionExtraItem}}
                    {{#> conditionExtraItem label="Vents" img="wind" rotation=winddirDegree}}
                        {{windspeedKmph}} Km/h {{winddir16Point}}
                    {{/ conditionExtraItem}}
                </div>
                <div class="card-content-group">
                    {{#> conditionExtraItem label="Humidité" img="humidity"}}
                        {{humidity}}%
                    {{/ conditionExtraItem}}
                    {{#> conditionExtraItem label="Index UV" img="uv"}}
                        {{uvIndex}}
                    {{/ conditionExtraItem}}
                </div>
            </div>
        </div>
    