<div>
        <div>
            <div>
                <div>Température</div>
                <div>{{#if temp_C}}{{temp_C}}{{else}}{{tempC}}{{/if}}℃</div>
            </div>
            <div>
                <div>Ressentie</div>
                <div>{{FeelsLikeC}}℃</div>
            </div>
        </div>
        <div>
            <div>Conditions</div>
            <div>{{weatherDesc.[0].value}}</div>
        </div>
        <div>
            <div>Vents</div>
            <div>{{windspeedKmph}} Km/h</div>
            <div data-degree="{{winddirDegree}}">
                {{winddir16Point}}
            </div>
        </div>
        <div>
            <div>UV</div>
            <div>{{uvIndex}}</div>
        </div>
        <div>
            <div>Humidité</div>
            <div>{{humidity}}%</div>
        </div>
        <div>
            <div>Précipitations</div>
            <div>{{precipMM}} mm</div>
        </div>
    </div>